<div id="create_event_modal" class="modal hide fade">
    <div class="modal-header">New Event
        <button class="close" data-dismiss="modal">x</button>
    </div>
    <form id="new_event_form" class="form-horizontal">
    </form>
</div>