<div id="intro_popup">
    <h3 class="intro-header">Welcome to Scene.</h3>
    <p class="intro-body">Discover new events around you, connect with others attending, or revisit past events.</p>
    <p class="intro-body-lower">Explore now, or login to create and connect with existing events.</p>
</div>