<div id="location_finder_popup">
    <input id="address" class="address" type="text" placeholder="Address" />
    <div class="buttons">
        <span class="badge badge-important"></span>
        <button id="find_address" class="btn">Find</button>
        <button id="accept_address" class="use-address btn btn-success">Use Address</button>
        <button id="cancel_finder" class="cancel-finder btn btn-danger">Cancel Find</button>
        <div class="movable-info">
            <div class="help">Help!</div>
            <span class="info">Move me!</span>
            <i class="icon-move"></i>
        </div>
    </div>
</div>