<form id="login_form">
    <label for="login_username">Email</label>
    <input type="text" title="login-username" name="login-username" id="login_username" class="login-username" />
    <label for="login_password">Password</label>
    <input type="password" title="login-password" name="login-password" id="login_password" class="login-password" />
    <button id="login_submit" class="login-submit-btn btn">Sign In</button>
</form>
<a id="facebook_login" class="facebook-login-btn" href="/auth/facebook">Login with Facebook</a>
