<div id="mobile_info_modal" class="modal hide fade">
    <div class="modal-header">Event Details
        <button class="close" data-dismiss="modal">x</button>
    </div>
    <div class="modal-content">
        <ul class="nav nav-tabs">
            <li class="events-tab active">My Events</li>
            <li class="spots-tab">My Spots</li>
        </ul>
    </div>
</div>