<div class="tabs">
    <span class="attending-tab active">My Events</span>
    <span class="spots-tab">My Spots</span>
</div>
<div class="events">
    <% for (var i = 0; i < events.length; i++) { %>
        <p>Event</p>
    <% } %>
</div>