<div class="tabs">
    <span class="attending-tab active">My Events</span>
    <span class="spots-tab">My Spots</span>
</div>
<div class="events">
    <% for (var i = 0; i < events.length; i++) { %>
        <div class="event">
            <div class="event-name"></div>
            <div class="event-duration"></div>
            <div class="event-location"></div>
    <% } %>
</div>