<div id="registration_modal" class="modal hide fade">
    <div class="modal-header">Create Account
        <button class="close" data-dismiss="modal">x</button>
    </div>
    <form id="new_user_form">
        <fieldset name="user-creation">
            <div class="modal-content">
                <div class="social-signup">
                    <a href="/auth/facebook" class="facebook-signup">Sign Up with Facebook</a>
                </div>
            </div>
            <div class="modal-footer">
                <input id="user_submit" class="user-submit btn btn-primary" type="submit" value="Create Account!" />
                <button id="cancel_registration" class="btn">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>