<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>Scene</title>
        <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="/scene.min.css" />
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Scene</a>
            </div>
        </div>
        <div id="map_canvas"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1ZYoDAzhL0uivXehR0_5tDLpCcLOaqQ&sensor=false"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/js/vendor/modernizr.min.js"></script>
        <script src="/js/vendor/underscore.min.js"></script>
        <script src="/js/vendor/backbone.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
			window.Scene.user = <%-JSON.stringify(user)%>;
            window.Scene.events = <%- JSON.stringify(events) %>;
        </script>
        <script src="/scene.min.js"></script>
    </body>
</html>
