#map_canvas {
    margin-top: 40px;
    height: 100%;

    &.logged {
        display: inline-block;
        float: left;
        width: 85%;
    }

    .content {
        .photo {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .first-heading {
            font-size: 20px;
        }

        .body-content {
            margin-top: 9px;
            font-size: 15px;

            .description {
                margin-bottom: 0;

                &.logged {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media only screen and (max-width: 980px) {
    #map_canvas {
        margin-top: 0;

        &.logged {
            width: 100% ;
        }
    }
}
#sidebar {
    float: right;
    display: inline;
    padding-top: 40px;
    background-color: #EEE;
    border-left: 1px solid #C64012;
    height: 100%;
    width: 14.9%;

    .nav {
        margin-bottom: 0;

        li {
            width: 50%;
            text-align: center;
            padding: 8px 0;

            &.active {
                color: #CE4213;
                background-color: #CCC;
            }

            &:hover {
                background-color: #DDD;
            }
        }
    }

    .events {
        margin: 0 10px;
        color: grey;
        font-size: 11px;

        .event {
            .rounded-corners(5px);
            margin-top: 8px;
            text-align: center;
            background-color: white;
            border: 1px solid #DDD;
        }
    }

    .spots-container {
        position: relative;

        .spots {
            overflow: auto;
            max-height: 100%;

            .add-spot-container {
                margin-top: 10px;
                text-align: center;

                .spot-text {
                    width: 180px;
                }
            }

            .spot {
                .rounded-corners(5px);
                border: 1px solid #DDD;
                margin: 10px 10px 0 10px;
                background-color: white;
                text-align: center;
            }
        }
    }
}
#create_event_modal {
    width: 33.3em;

    .modal-header {
        font-family: "Lobster", cursive;
        padding: 0.6em;
        font-size: 28px;
    }

    #create_event_form {
        margin: 0;

        .modal-content {
            padding: 1em;

            .control-group {
                margin-bottom: 5px;

                .text-error {
                    margin: 0.5em 0 0.5em 0;
                    text-align: center;
                }

                .control-label {
                    text-align: left;
                    margin-right: 1em;
                }

                .event-description {
                    min-height: 3.5em;
                }

                &.location-control-group {
                    .or-divider {
                        font-weight: bold;
                        text-align: center;
                        margin: 10px;
                    }

                    .button-container {
                        margin: 0.9em 0em 0em 1.6em;
                    }
                }

                &.time-control-group {
                    margin-bottom: 0;

                    .from, .to {
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 0.5em;
                    }

                    .to {
                        margin-bottom: 0;
                    }

                    .inputs {
                        display: inline;
                        position: relative;

                        .hour-select {
                            .rounded-corners(2px);
                            position: absolute;
                            right: 0em;
                            border: 1px solid #CCCCCC;
                            background-color: white;
                            z-index: 2000;
                            display: none;
                            width: 7em;
                            height: 10em;
                            overflow-y: auto;
                            overflow-x: hidden;

                            .hour {
                                padding-left: 0.75em;

                                &:hover {
                                    background-color: #E5E5E5;
                                }
                            }
                        }
                    }

                    .from-date, .from-time, .to-date, .to-time {
                        width: 38%;
                    }

                    .from-date, .to-date {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
#registration_modal {
    width: 33.3em;

    .modal-header {
        font-family: "Lobster", cursive;
        padding: 0.6em;
        font-size: 28px;
    }

    #new_user_form {
        margin: 0;

        .modal-content {
            padding: 0 15px;

            .social-signup {
                text-align: center;
                margin: 5px 0 10px 0;
                .facebook-signup {
                    width: 150px;
                    height: 70px;
                    padding: 0 16px 7px 0;
                    color: transparent;
                    text-indent: -9999px;
                    background-image: url("../../images/facebook_signin.png");
                }
            }

            .or-divider {
                text-align: center;
                font-weight: bold;
                margin: 10px 0;
            }

            .control-group {
                .control-label {
                    text-align: left;
                }
            }
        }
    }
}
#location_finder_popup {
    .rounded-corners(5px);
    .drop-shadow(5px, 8px, 25px, -3px, 0.5);
    position: absolute;
    top: 75%;
    left: 50%;
    display: none;
    border: 1px solid rgba(100, 100, 100, 0.4);
    background: -webkit-gradient(radial, 100 36 ,0 , 100 -40, 120, from(#FAFAFA), to(#F1F1F1)), #F1F1F1;
    color: #000;

    .address {
        margin: 1em;
        width: 27em;
    }

    .buttons {
        position: relative;
        margin: 0em 1em 1em 1em;

        .badge {
            position: absolute;
            top: -8px;
            left: -10px;
        }

        .cancel-finder, .use-address {
            margin-left: 0.5em;
        }

        .movable-info {
            display: inline;
            position: absolute;
            right: 0em;
            bottom: -0.3em;

            .help {
                width: 37px;
                margin-bottom: 2px;
                cursor: pointer;
                text-decoration: underline;
            }

            .tooltip {
                width: 275px;
            }

            .info {
                margin-right: 0.3em;
            }

            .info, .icon-move, .help {
                opacity: 0.6;
            }
        }
    }
}
#intro_popup {
    .rounded-corners(5px);
    .drop-shadow(3px, 4px, 10px, 0, 0.3);
    position: absolute;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 5px 15px;
    border: 1px solid #CCC;
    color: #777;
    bottom: 130px;
    right: 100px;

    .intro-header {
        color: #CE4213;
        margin-bottom: 0;
    }

    .intro-body {
        margin-bottom: 0;
    }
}
.facebook-login-btn {
    text-indent: -9999px;
}
@media only screen and (max-width: 535px) {
    #intro_popup {
        right: 0;
    }
}