#map_canvas {
    height: 100%;
}
#create_event_modal {
    width: 33.3em;

    .modal-header {
        padding: 0.6em;
        font-size: 28px;
    }
    #create_event_form {
        margin: 0;

        .modal-content {
            padding: 1em;

            .control-group {
                margin-bottom: 5px;

                .text-error {
                    margin: 0.5em 0 0.5em 0;
                    text-align: center;
                }

                .control-label {
                    text-align: left;
                    margin-right: 1em;
                }

                .event-description {
                    min-height: 4.5em;
                }

                &.location-control-group {
                    .or-divider {
                        font-weight: bold;
                        text-align: center;
                        margin: 10px;
                    }

                    .button-container {
                        margin: 0.9em 0em 0em 1.6em;
                    }
                }

                &.time-control-group {
                    margin-bottom: 0;

                    .from, .to {
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 0.5em;
                    }

                    .to {
                        margin-bottom: 0;
                    }

                    .inputs {
                        display: inline;
                        position: relative;

                        .hour-select {
                            .rounded-corners(2px);
                            position: absolute;
                            right: 0em;
                            border: 1px solid #CCCCCC;
                            background-color: white;
                            z-index: 2000;
                            display: none;
                            width: 7em;
                            height: 10em;
                            overflow-y: auto;
                            overflow-x: hidden;

                            .hour {
                                padding-left: 0.75em;

                                &:hover {
                                    background-color: #E5E5E5;
                                }
                            }
                        }
                    }

                    .from-date, .from-time, .to-date, .to-time {
                        width: 38%;
                    }

                    .from-date, .to-date {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}