.navbar {
    margin-bottom: 0;
    z-index: 1030;

    .navbar-inner {
        background: -webkit-gradient(radial, 100 36 ,0 , 100 -40, 120, from(#FAFAFA), to(#F1F1F1)), #F1F1F1;

        .brand {
            margin: 0;
            padding-left: 50px;
        }

        .button-container {
            display: inline-block;
            float: right;
            margin-right: 15px;

            .create-event-btn {
                margin-right: 10px;
            }

            .register-btn {
                margin-right: 10px;
            }
        }
    }
}