.navbar {
    margin-bottom: 0;

    .navbar-inner {
        background: -webkit-gradient(radial, 100 36 ,0 , 100 -40, 120, from(#FAFAFA), to(#F1F1F1)), #F1F1F1;

        .brand {
            margin: 0;
        }
    }
}