<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>Scene</title>
    </head>
    <body>
        <form method="post" action="/events">
            <label>name</label><input type="text" name="name"/></br>
            <label>duration.starttime</label><input type="text" name="duration.starttime"/></br>
            <label>duration.endtime</label><input type="text" name="duration.endtime"/></br>
            <label>location.longitude</label><input type="text" name="location.longitude"/></br>
            <label>location.latitude</label><input type="text" name="location.latitude"/></br>
            <label>description</label><input type="text" name="description"/></br>
            <label>image</label><input type="text" name="image"/>
            <button type="submit">등록</button>
        </form>
    </body>
</html>
