<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

        <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="/scene.min.css" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/js/vendor/modernizr.min.js"></script>
        <script src="/js/vendor/underscore.min.js"></script>
        <script src="/js/vendor/backbone.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
		<script src="/js/models/photo.js"></script>
		<script src="/js/views/photo_view.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<title>Scene</title>
    	<script>
			if(!window.Scene)
				 window.Scene = {};
			window.Scene.event = <%-JSON.stringify(event)%>;
			
	        function connectWS() {
				var socket = null;
			    if (window.Scene.socket == null) {
	                socket = io.connect("/event");
					socket.on("connect", function() {
	                    socket.emit("joinRoom",{event:"<%=event._id%>"});
	                });
	                socket.on('message', function(data) {});
	                socket.on('disconnect', function() {});
	  				socket.on("Photo.create",function(photo){
						var photo = new window.Scene.Photo(photo);
	                    var photoView = new window.Scene.PhotoView({
							model : photo
						});
	                    $(".event").append(photoView.$el);
					});
				}
	            socket.socket.connect();
	       		window.Scene.socket = socket;
		    }
			
            $.fn.get2dContext = function(){
	            return this[0].getContext("2d");
            };
            $.fn.resizeContext = function(){
	           	$(this)[0].width  = $(this).width();
	           	$(this)[0].height = $(this).height();
            };

            function resizeImage(file, dataURL,cb) {
                var fileType = file.type;
                var image = new Image();
                image.src = dataURL;
                image.onload = function() {
                	var $canvas = $("#photo_preview");
                	var ctx = $canvas.get2dContext();
                	var maxWidth    = $(".canvas_container").width(),
                        maxHeight   = $(".canvas_container").height(),
                        imageWidth = image.width,
                        imageHeight = image.height;
					if (imageWidth > imageHeight) {
                        if (imageWidth > maxWidth) {
                            imageHeight *= maxWidth / imageWidth;
                            imageWidth = maxWidth;
                        }
                    }
                    else {
                        if (imageHeight > maxHeight) {
                            imageWidth *= maxHeight / imageHeight;
                            imageHeight = maxHeight;
                        }
                    }
                    $canvas.width(imageWidth);
                    $canvas.height(imageHeight);
                    $canvas.resizeContext();
                    ctx.drawImage(this, 0, 0, imageWidth, imageHeight);
					cb();
                }
            }
			
		
			$(function(){
				connectWS();
				
                window.Scene.event.photos.forEach(function(photo){
					var photo = new window.Scene.Photo(photo);
                    var photoView = new window.Scene.PhotoView({
						model : photo
					});
                    $(".event").append(photoView.$el);
                });
				
                $("#photo_input").change(function() {
                    var fileReader = new FileReader();
                    var file = this.files[0];
                    console.log("Start loading image..");
					
					$("#uplode_button").attr("disabled",true);
					
					fileReader.onloadend = function(evt) {
                        if (evt.target.readyState == FileReader.DONE) {
                            resizeImage(file, evt.target.result, function(){
			                    console.log("finished loading image!");
								$("#uplode_button").attr("disabled",false);
							});
                        }
                    };
                    fileReader.readAsDataURL(file);
                });
				$("#uplode_button").click(function(){
	            	var target_url = $("#photo_preview")[0].toDataURL();
	                if (target_url) {
	                    window.Scene.socket.emit("Photo.create", {
	                        image: target_url
	                    });
	                    target_url = null;
	                }
				});
			});
		</script>
		<style>

		</style>
	</head>
    <body>
		<div class="event">
			<div class="canvas_container" style="width:100px;height:100px">
				<canvas id="photo_preview">
				</canvas>
			</div>
			<input id="photo_input" class="btn btn-info" type="file" value="add Photo"/>
			<button class="btn btn-info" disabled=true id="uplode_button">Upload</button>
		</div>
	</body>
</html>
