<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

		<script>
		/*
		_.templateSettings = {
			escape		: /<\?-([\s\S]+?)\?>/g,
			evaluate	: /<\?([\s\S]+?)\?>/g,
			interpolate : /<\?=([\s\S]+?)\?>/g
		};
		Backbone.sync = function(method, model) {
			//alert(method + ": " + JSON.stringify(model));
			//console.log(model);
			socket.emit(model.modelName + ".update", model.toJSON());
		};
		*/
		
		</script>
		<script src="/socket.io/socket.io.js"></script>
		<title>Collage</title>
    	<script>
			var event  = <%-JSON.stringify(event)%>;
			var socket = null;
	        function connectWS() {
	            if (socket == null) {
	                socket = io.connect("/event");
					socket.on("connect", function() {
	                    socket.emit("joinRoom",{event:"<%=event._id%>"});
	                });
	                socket.on('message', function(data) {});
	                socket.on('disconnect', function() {});
	  			}
	            socket.socket.connect();
	        }
			$(function(){
				connectWS();
			});
		</script>
		<style>

		</style>
	</head>
    <body>
		<div class="event">
			<input class="btn btn-info" type="file" value="add Photo"/>
		</div>
	</body>
</html>
